:root {
  --background-primario: #fff;
  --background-secundario:#F7F7F7;
  --azul-claro: #2C70FF;
  --azul-escuro:#122ab2;
  --font-branca: #fff;
  --font-escura:#222222;
  --font-clara:#7C7C7C;
  --purple: #AE81FF;
  --pink: #f9265e;
  --blue: #66D9EB;
  --bronze:#CD7F32;
  --prata:#C0C0C0;
  --ouro:#FFD700;
}